
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>2019年6月中型SUV销量排行榜完整版，锐界低迷令人唏嘘_汽车销量排行榜_515汽车排行网</title>
<meta name="keywords" content="2019年6月,中型SUV销量,排行榜," />
<meta name="description" content="福特锐界6月销量只有2682辆，当年与汉兰达平起平坐，如今汉兰达还是汉兰达，可锐界却不是以前的锐界了，令人唏嘘不已。" />
<link href="../static/css/css03_7.css" rel="stylesheet" type="text/css" />
<meta name="applicable-device" content="pc">
<link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.515fa.com/che_3g_21260.html" >
<script type="text/javascript">
var from ="";
if (from != 'wap') {
var userAgentInfo = navigator.userAgent;
if (userAgentInfo.indexOf("Android") > 0 || userAgentInfo.indexOf("iPhone") > 0 || userAgentInfo.indexOf("iPad") > 0 || userAgentInfo.indexOf("SymbianOS") > 0 || userAgentInfo.indexOf("Windows Phone") > 0 || userAgentInfo.indexOf("iPod") > 0) {
window.location.href = "http://m.515fa.com/che_3g_21260.html";
}
}
</script>
</head>
<body>
<div class="ding">
<div class="ding_z">
<div class="ding01">精确统计，创造奇迹！——最专业的<a href="http://www.515fa.com/">汽车销量排行榜</a>发布网站！</div>
<div class="ding02"><a href="http://www.515fa.com/">网站首页</a>　|　<a href="http://www.515fa.com/qcxl/">汽车销量</a>　|　<a href="http://www.515fa.com/qcxlsj/">车型数据</a>　|　<a href="http://www.515fa.com/csxlcx/">厂商销量查询</a>　|　<a href="http://www.515fa.com/cxxldq/">车型销量大全</a>　|　<a href="http://www.515fa.com/qcxlphb/">销量排行榜</a>　|　<a href="http://www.515fa.com/xiaowu/">小五说车</a></div>
</div>
</div>
<div class="topcs">
<div class="topz">
<div class="topz01"><img src="../static/images/logo.jpg" width="238" height="90" /></div>
<div class="topz02"><a href="http://www.515fa.com/zhuanti/zt_21469.html">2019年7月汽车销量排行榜重磅出炉，</a><a href="http://www.515fa.com/zhuanti/zt_21469.html" class="bbb02">详情>></a>
</div>
</div>
</div>
<div class="ph">
<div class="ph_z">
当前位置：<a href='http://www.515fa.com/'>汽车销量</a> > <a href='/qcxlphb/'>汽车销量排行榜</a> >
</div>
</div>
<div class="zhutics">
<div class="zhutiz">
<div class="zhuti01">
<div class="wen1">
  <div class="w_tit"><h1>2019年6月中型SUV销量排行榜完整版，锐界低迷令人唏嘘</h1></div>
    <div class="w_riq"><small>来源:</small><a href="http://www.515fa.com">515汽车排行网</a> <small>　作者:</small>乐雨　<small>日期:</small>2019-07-15 11:36:31　<small>点击:</small><script src="/plus/count.php?view=yes&aid=21260&mid=1" type='text/javascript' language="javascript"></script>次</div>
	  <div class="w_con">
<p>2019年6月中型<a href='http://www.515fa.com/suv/1-suv.html' target='_blank'><u>SUV销量排行榜</u></a>完整版出炉了，宝马X3经历了几个月的辉煌之后，6月份趋向平静，销量为9972辆，被奥迪Q5和奔驰GLC成功反超。福特锐界6月销量只有2682辆，当年与汉兰达平起平坐，如今汉兰达还是汉兰达，可锐界却不是以前的锐界了，令人唏嘘不已。具体排名如下：<br />
<table align="center" bgcolor="#7D97BD" border="0" cellpadding="0" cellspacing="1" width="100%">
	<tbody>
		<tr>
			<td align="center" bgcolor="#FFFFFF" colspan="5" height="46">
				<b>2019年6月中型<a href='http://www.515fa.com/suv/1-suv.html' target='_blank'><u>SUV销量排行榜</u></a>完整版</b></td>
		</tr>
		<tr>
			<td align="center" bgcolor="#3874CD" height="29" width="13%">
				<span style="color: rgb(255, 255, 255);"><strong>排名</strong></span></td>
			<td align="center" bgcolor="#3874CD" width="25%">
				<span style="color: rgb(255, 255, 255);"><strong>车型</strong></span></td>
			<td align="center" bgcolor="#3874CD" width="21%">
				<span style="color: rgb(255, 255, 255);"><strong>所属厂商</strong></span></td>
			<td align="center" bgcolor="#3874CD" width="21%">
				<span style="color: rgb(255, 255, 255);"><strong>6月销量</strong></span></td>
			<td align="center" bgcolor="#3874CD" width="20%">
				<span style="color: rgb(255, 255, 255);"><strong>1-6月累计</strong></span></td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				1</td>
			<td align="center" bgcolor="#FFFFFF">
				大众探岳</td>
			<td align="center" bgcolor="#FFFFFF">
				一汽大众</td>
			<td align="center" bgcolor="#FFFFFF">
				13023</td>
			<td align="center" bgcolor="#FFFFFF">
				50482</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				2</td>
			<td align="center" bgcolor="#FFFFFF">
				奥迪Q5</td>
			<td align="center" bgcolor="#FFFFFF">
				一汽大众奥迪</td>
			<td align="center" bgcolor="#FFFFFF">
				11634</td>
			<td align="center" bgcolor="#FFFFFF">
				49425</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				3</td>
			<td align="center" bgcolor="#FFFFFF">
				奔驰GLC</td>
			<td align="center" bgcolor="#FFFFFF">
				北京奔驰</td>
			<td align="center" bgcolor="#FFFFFF">
				10751</td>
			<td align="center" bgcolor="#FFFFFF">
				68333</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				4</td>
			<td align="center" bgcolor="#FFFFFF">
				别克昂科威</td>
			<td align="center" bgcolor="#FFFFFF">
				上汽通用别克</td>
			<td align="center" bgcolor="#FFFFFF">
				10553</td>
			<td align="center" bgcolor="#FFFFFF">
				63558</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				5</td>
			<td align="center" bgcolor="#FFFFFF">
				宝马X3</td>
			<td align="center" bgcolor="#FFFFFF">
				华晨宝马</td>
			<td align="center" bgcolor="#FFFFFF">
				9972</td>
			<td align="center" bgcolor="#FFFFFF">
				54698</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				6</td>
			<td align="center" bgcolor="#FFFFFF">
				奇瑞瑞虎8</td>
			<td align="center" bgcolor="#FFFFFF">
				奇瑞汽车</td>
			<td align="center" bgcolor="#FFFFFF">
				8730</td>
			<td align="center" bgcolor="#FFFFFF">
				44272</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				7</td>
			<td align="center" bgcolor="#FFFFFF">
				丰田汉兰达</td>
			<td align="center" bgcolor="#FFFFFF">
				广汽丰田</td>
			<td align="center" bgcolor="#FFFFFF">
				8601</td>
			<td align="center" bgcolor="#FFFFFF">
				47759</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				8</td>
			<td align="center" bgcolor="#FFFFFF">
				捷途X70</td>
			<td align="center" bgcolor="#FFFFFF">
				奇瑞汽车</td>
			<td align="center" bgcolor="#FFFFFF">
				8071</td>
			<td align="center" bgcolor="#FFFFFF">
				52527</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				9</td>
			<td align="center" bgcolor="#FFFFFF">
				本田冠道</td>
			<td align="center" bgcolor="#FFFFFF">
				广汽本田</td>
			<td align="center" bgcolor="#FFFFFF">
				5939</td>
			<td align="center" bgcolor="#FFFFFF">
				35429</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				10</td>
			<td align="center" bgcolor="#FFFFFF">
				沃尔沃XC60</td>
			<td align="center" bgcolor="#FFFFFF">
				沃尔沃亚太</td>
			<td align="center" bgcolor="#FFFFFF">
				5677</td>
			<td align="center" bgcolor="#FFFFFF">
				28735</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				11</td>
			<td align="center" bgcolor="#FFFFFF">
				雪佛兰探界者</td>
			<td align="center" bgcolor="#FFFFFF">
				上汽通用雪佛兰</td>
			<td align="center" bgcolor="#FFFFFF">
				5452</td>
			<td align="center" bgcolor="#FFFFFF">
				26506</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				12</td>
			<td align="center" bgcolor="#FFFFFF">
				凯迪拉克XT5</td>
			<td align="center" bgcolor="#FFFFFF">
				上汽通用凯迪拉克</td>
			<td align="center" bgcolor="#FFFFFF">
				4584</td>
			<td align="center" bgcolor="#FFFFFF">
				25363</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				13</td>
			<td align="center" bgcolor="#FFFFFF">
				斯柯达柯迪亚克</td>
			<td align="center" bgcolor="#FFFFFF">
				上汽斯柯达</td>
			<td align="center" bgcolor="#FFFFFF">
				4326</td>
			<td align="center" bgcolor="#FFFFFF">
				19288</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				14</td>
			<td align="center" bgcolor="#FFFFFF">
				广汽传祺GS8</td>
			<td align="center" bgcolor="#FFFFFF">
				广汽乘用车</td>
			<td align="center" bgcolor="#FFFFFF">
				4313</td>
			<td align="center" bgcolor="#FFFFFF">
				14385</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				15</td>
			<td align="center" bgcolor="#FFFFFF">
				东风风光580</td>
			<td align="center" bgcolor="#FFFFFF">
				东风小康</td>
			<td align="center" bgcolor="#FFFFFF">
				3788</td>
			<td align="center" bgcolor="#FFFFFF">
				32208</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				16</td>
			<td align="center" bgcolor="#FFFFFF">
				比亚迪唐新能源</td>
			<td align="center" bgcolor="#FFFFFF">
				比亚迪</td>
			<td align="center" bgcolor="#FFFFFF">
				3755</td>
			<td align="center" bgcolor="#FFFFFF">
				29239</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				17</td>
			<td align="center" bgcolor="#FFFFFF">
				长安欧尚CX70</td>
			<td align="center" bgcolor="#FFFFFF">
				长安汽车</td>
			<td align="center" bgcolor="#FFFFFF">
				2891</td>
			<td align="center" bgcolor="#FFFFFF">
				29033</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				18</td>
			<td align="center" bgcolor="#FFFFFF">
				福特锐界</td>
			<td align="center" bgcolor="#FFFFFF">
				长安福特</td>
			<td align="center" bgcolor="#FFFFFF">
				2682</td>
			<td align="center" bgcolor="#FFFFFF">
				13674</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				19</td>
			<td align="center" bgcolor="#FFFFFF">
				君马SEEK-5</td>
			<td align="center" bgcolor="#FFFFFF">
				君马汽车</td>
			<td align="center" bgcolor="#FFFFFF">
				2535</td>
			<td align="center" bgcolor="#FFFFFF">
				24316</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				20</td>
			<td align="center" bgcolor="#FFFFFF">
				路虎发现神行</td>
			<td align="center" bgcolor="#FFFFFF">
				奇瑞捷豹路虎</td>
			<td align="center" bgcolor="#FFFFFF">
				2503</td>
			<td align="center" bgcolor="#FFFFFF">
				11593</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				21</td>
			<td align="center" bgcolor="#FFFFFF">
				日产楼兰</td>
			<td align="center" bgcolor="#FFFFFF">
				东风日产</td>
			<td align="center" bgcolor="#FFFFFF">
				2476</td>
			<td align="center" bgcolor="#FFFFFF">
				11726</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				22</td>
			<td align="center" bgcolor="#FFFFFF">
				比亚迪唐</td>
			<td align="center" bgcolor="#FFFFFF">
				比亚迪</td>
			<td align="center" bgcolor="#FFFFFF">
				2442</td>
			<td align="center" bgcolor="#FFFFFF">
				20122</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				23</td>
			<td align="center" bgcolor="#FFFFFF">
				红旗HS5</td>
			<td align="center" bgcolor="#FFFFFF">
				一汽红旗</td>
			<td align="center" bgcolor="#FFFFFF">
				2424</td>
			<td align="center" bgcolor="#FFFFFF">
				2970</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				24</td>
			<td align="center" bgcolor="#FFFFFF">
				英菲尼迪QX50</td>
			<td align="center" bgcolor="#FFFFFF">
				东风英菲尼迪</td>
			<td align="center" bgcolor="#FFFFFF">
				2312</td>
			<td align="center" bgcolor="#FFFFFF">
				9695</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				25</td>
			<td align="center" bgcolor="#FFFFFF">
				长安CS85-COUPE</td>
			<td align="center" bgcolor="#FFFFFF">
				长安汽车</td>
			<td align="center" bgcolor="#FFFFFF">
				2173</td>
			<td align="center" bgcolor="#FFFFFF">
				9626</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				26</td>
			<td align="center" bgcolor="#FFFFFF">
				东风风光ix5</td>
			<td align="center" bgcolor="#FFFFFF">
				东风小康</td>
			<td align="center" bgcolor="#FFFFFF">
				2104</td>
			<td align="center" bgcolor="#FFFFFF">
				10226</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				27</td>
			<td align="center" bgcolor="#FFFFFF">
				本田UR-V</td>
			<td align="center" bgcolor="#FFFFFF">
				东风本田</td>
			<td align="center" bgcolor="#FFFFFF">
				2048</td>
			<td align="center" bgcolor="#FFFFFF">
				15975</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				28</td>
			<td align="center" bgcolor="#FFFFFF">
				星途-TX</td>
			<td align="center" bgcolor="#FFFFFF">
				星途</td>
			<td align="center" bgcolor="#FFFFFF">
				1758</td>
			<td align="center" bgcolor="#FFFFFF">
				5572</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				29</td>
			<td align="center" bgcolor="#FFFFFF">
				启辰T90</td>
			<td align="center" bgcolor="#FFFFFF">
				东风启辰</td>
			<td align="center" bgcolor="#FFFFFF">
				1741</td>
			<td align="center" bgcolor="#FFFFFF">
				5586</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				30</td>
			<td align="center" bgcolor="#FFFFFF">
				君马S70</td>
			<td align="center" bgcolor="#FFFFFF">
				君马汽车</td>
			<td align="center" bgcolor="#FFFFFF">
				1558</td>
			<td align="center" bgcolor="#FFFFFF">
				5834</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				31</td>
			<td align="center" bgcolor="#FFFFFF">
				路虎揽胜极光</td>
			<td align="center" bgcolor="#FFFFFF">
				奇瑞捷豹路虎</td>
			<td align="center" bgcolor="#FFFFFF">
				1370</td>
			<td align="center" bgcolor="#FFFFFF">
				2465</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				32</td>
			<td align="center" bgcolor="#FFFFFF">
				众泰T600</td>
			<td align="center" bgcolor="#FFFFFF">
				众泰汽车</td>
			<td align="center" bgcolor="#FFFFFF">
				1367</td>
			<td align="center" bgcolor="#FFFFFF">
				10735</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				33</td>
			<td align="center" bgcolor="#FFFFFF">
				Jeep大指挥官</td>
			<td align="center" bgcolor="#FFFFFF">
				广汽菲克Jeep</td>
			<td align="center" bgcolor="#FFFFFF">
				1078</td>
			<td align="center" bgcolor="#FFFFFF">
				6864</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				34</td>
			<td align="center" bgcolor="#FFFFFF">
				讴歌RDX</td>
			<td align="center" bgcolor="#FFFFFF">
				广汽讴歌</td>
			<td align="center" bgcolor="#FFFFFF">
				1043</td>
			<td align="center" bgcolor="#FFFFFF">
				3239</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				35</td>
			<td align="center" bgcolor="#FFFFFF">
				WEY-VV7</td>
			<td align="center" bgcolor="#FFFFFF">
				长城汽车</td>
			<td align="center" bgcolor="#FFFFFF">
				1015</td>
			<td align="center" bgcolor="#FFFFFF">
				9776</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				36</td>
			<td align="center" bgcolor="#FFFFFF">
				Jeep自由光</td>
			<td align="center" bgcolor="#FFFFFF">
				广汽菲克Jeep</td>
			<td align="center" bgcolor="#FFFFFF">
				959</td>
			<td align="center" bgcolor="#FFFFFF">
				7925</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				37</td>
			<td align="center" bgcolor="#FFFFFF">
				宝沃BX7</td>
			<td align="center" bgcolor="#FFFFFF">
				宝沃汽车</td>
			<td align="center" bgcolor="#FFFFFF">
				925</td>
			<td align="center" bgcolor="#FFFFFF">
				5111</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				38</td>
			<td align="center" bgcolor="#FFFFFF">
				现代全新胜达</td>
			<td align="center" bgcolor="#FFFFFF">
				北京现代</td>
			<td align="center" bgcolor="#FFFFFF">
				848</td>
			<td align="center" bgcolor="#FFFFFF">
				8095</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				39</td>
			<td align="center" bgcolor="#FFFFFF">
				广汽传祺GS7</td>
			<td align="center" bgcolor="#FFFFFF">
				广汽乘用车</td>
			<td align="center" bgcolor="#FFFFFF">
				843</td>
			<td align="center" bgcolor="#FFFFFF">
				2566</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				40</td>
			<td align="center" bgcolor="#FFFFFF">
				标致5008</td>
			<td align="center" bgcolor="#FFFFFF">
				东风标致</td>
			<td align="center" bgcolor="#FFFFFF">
				712</td>
			<td align="center" bgcolor="#FFFFFF">
				5109</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				41</td>
			<td align="center" bgcolor="#FFFFFF">
				北汽幻速S7</td>
			<td align="center" bgcolor="#FFFFFF">
				北汽银翔</td>
			<td align="center" bgcolor="#FFFFFF">
				703</td>
			<td align="center" bgcolor="#FFFFFF">
				12058</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				42</td>
			<td align="center" bgcolor="#FFFFFF">
				中华V7</td>
			<td align="center" bgcolor="#FFFFFF">
				华晨中华</td>
			<td align="center" bgcolor="#FFFFFF">
				687</td>
			<td align="center" bgcolor="#FFFFFF">
				3934</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				43</td>
			<td align="center" bgcolor="#FFFFFF">
				蔚来ES6</td>
			<td align="center" bgcolor="#FFFFFF">
				蔚来</td>
			<td align="center" bgcolor="#FFFFFF">
				658</td>
			<td align="center" bgcolor="#FFFFFF">
				658</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				44</td>
			<td align="center" bgcolor="#FFFFFF">
				日产途达</td>
			<td align="center" bgcolor="#FFFFFF">
				东风日产</td>
			<td align="center" bgcolor="#FFFFFF">
				622</td>
			<td align="center" bgcolor="#FFFFFF">
				5609</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				45</td>
			<td align="center" bgcolor="#FFFFFF">
				SWM斯威X7</td>
			<td align="center" bgcolor="#FFFFFF">
				SWM斯威汽车</td>
			<td align="center" bgcolor="#FFFFFF">
				600</td>
			<td align="center" bgcolor="#FFFFFF">
				7097</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				46</td>
			<td align="center" bgcolor="#FFFFFF">
				福特撼路者</td>
			<td align="center" bgcolor="#FFFFFF">
				江铃福特</td>
			<td align="center" bgcolor="#FFFFFF">
				583</td>
			<td align="center" bgcolor="#FFFFFF">
				1676</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				47</td>
			<td align="center" bgcolor="#FFFFFF">
				比速T5</td>
			<td align="center" bgcolor="#FFFFFF">
				比速汽车</td>
			<td align="center" bgcolor="#FFFFFF">
				376</td>
			<td align="center" bgcolor="#FFFFFF">
				2866</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				48</td>
			<td align="center" bgcolor="#FFFFFF">
				欧尚COS1&deg;</td>
			<td align="center" bgcolor="#FFFFFF">
				长安汽车</td>
			<td align="center" bgcolor="#FFFFFF">
				358</td>
			<td align="center" bgcolor="#FFFFFF">
				5741</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				49</td>
			<td align="center" bgcolor="#FFFFFF">
				哈弗H7</td>
			<td align="center" bgcolor="#FFFFFF">
				长城汽车</td>
			<td align="center" bgcolor="#FFFFFF">
				311</td>
			<td align="center" bgcolor="#FFFFFF">
				5221</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				50</td>
			<td align="center" bgcolor="#FFFFFF">
				观境</td>
			<td align="center" bgcolor="#FFFFFF">
				华晨雷诺</td>
			<td align="center" bgcolor="#FFFFFF">
				218</td>
			<td align="center" bgcolor="#FFFFFF">
				491</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				51</td>
			<td align="center" bgcolor="#FFFFFF">
				英致G5</td>
			<td align="center" bgcolor="#FFFFFF">
				潍柴汽车</td>
			<td align="center" bgcolor="#FFFFFF">
				162</td>
			<td align="center" bgcolor="#FFFFFF">
				944</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				52</td>
			<td align="center" bgcolor="#FFFFFF">
				长安欧尚科赛</td>
			<td align="center" bgcolor="#FFFFFF">
				长安汽车</td>
			<td align="center" bgcolor="#FFFFFF">
				149</td>
			<td align="center" bgcolor="#FFFFFF">
				149</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				53</td>
			<td align="center" bgcolor="#FFFFFF">
				荣威MARVEL-X</td>
			<td align="center" bgcolor="#FFFFFF">
				上汽集团</td>
			<td align="center" bgcolor="#FFFFFF">
				129</td>
			<td align="center" bgcolor="#FFFFFF">
				1076</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				54</td>
			<td align="center" bgcolor="#FFFFFF">
				猎豹Q6</td>
			<td align="center" bgcolor="#FFFFFF">
				猎豹汽车</td>
			<td align="center" bgcolor="#FFFFFF">
				60</td>
			<td align="center" bgcolor="#FFFFFF">
				1151</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				55</td>
			<td align="center" bgcolor="#FFFFFF">
				WEY-P8</td>
			<td align="center" bgcolor="#FFFFFF">
				长城汽车</td>
			<td align="center" bgcolor="#FFFFFF">
				47</td>
			<td align="center" bgcolor="#FFFFFF">
				644</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#FFFFFF" height="28">
				56</td>
			<td align="center" bgcolor="#FFFFFF">
				起亚KX7</td>
			<td align="center" bgcolor="#FFFFFF">
				东风悦达起亚</td>
			<td align="center" bgcolor="#FFFFFF">
				1</td>
			<td align="center" bgcolor="#FFFFFF">
				24</td>
		</tr>
	</tbody>
</table>
<br />
</p>
	  </div>

<p class="lycc">　　　本文地址：<a href="http://www.515fa.com/che_21260.html" title="2019年6月中型SUV销量排行榜完整版，锐界低迷令人唏嘘">http://www.515fa.com/che_21260.html</a>　本文属于:  <a target="_blank" href="http://www.515fa.com">2019年8月汽车销量排行榜</a></p>
</div>
<div class="gg_ad02"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-gs-1k+cp-ag-mg"
     data-ad-client="ca-pub-6891601752024227"
     data-ad-slot="8210809236"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="wen8"><b>最新排行榜</b><br />
<li><img src='../static/images/0952512022-0-lp.png'>
<span><a target="_blank" href="http://www.515fa.com/che_23348.html">11月汽车销量排行榜1-15名出炉，一汽大众强悍，轩逸再霸榜</a></span><br><span>时代汽车　阅读:5754次　2020_12_11</span></li>
<li><img src='../static/images/1-2011240ZP4546-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23286.html">2020年10月小型轿车销量排行榜，名爵3前途未卜</a></span><br><span>乐雨　阅读:3134次　2020_11_24</span></li>
<li><img src='../static/images/1-201124091145414-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23285.html">2020年10月紧凑型轿车销量排行榜，桑塔纳已彻底沦落</a></span><br><span>乐雨　阅读:4152次　2020_11_24</span></li>
<li><img src='../static/images/1-201124091545a7-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23284.html">2020年10月中型轿车销量排行榜,奥迪A4L气死一帮强将</a></span><br><span>乐雨　阅读:3460次　2020_11_24</span></li>
<li><img src='../static/images/1-201124093303O9-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23283.html">2020年10月中大型轿车销量排行榜，比亚迪汉已杀入前三名</a></span><br><span>乐雨　阅读:3336次　2020_11_24</span></li>
<li><img src='../static/images/1-2011201545205H-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23282.html">2020年10月中大型SUV销量排行榜完整版，探险者为福特雪中送炭</a></span><br><span>乐雨　阅读:4054次　2020_11_20</span></li>
<li><img src='../static/images/1-201120153543329-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23281.html">2020年10月小型SUV销量排行榜完整版，JEEP自由侠被市场忽略</a></span><br><span>乐雨　阅读:3204次　2020_11_20</span></li>
<li><img src='../static/images/1-201120152Q1B5-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23280.html">2020年10月中型SUV销量排行榜完整版，路虎发现神行顽强地活着</a></span><br><span>乐雨　阅读:3585次　2020_11_20</span></li>
<li><img src='../static/images/1-2011201522144V-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23279.html">2020年10月紧凑型SUV销量排行榜完整版，哈弗H6打击CR-V气焰</a></span><br><span>乐雨　阅读:3257次　2020_11_20</span></li>
<li><img src='../static/images/1-20112013303cP-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23278.html">2020年10月豪华SUV销量排行榜完整版，二线阵营缩小与BBA差距</a></span><br><span>乐雨　阅读:1558次　2020_11_20</span></li>
<li><img src='../static/images/1-20112013244G30-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23277.html">2020年10月豪华轿车销量排行榜完整版，宝马5系遭遇滑铁卢</a></span><br><span>乐雨　阅读:1411次　2020_11_20</span></li>
<li><img src='../static/images/1-20111QI005232-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23276.html">2020年10月合资SUV销量排行榜完整版，逍客热销口碑根深蒂固</a></span><br><span>乐雨　阅读:1728次　2020_11_18</span></li>
<li><img src='../static/images/1-20111QH356334-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23275.html">2020年10月国产SUV销量排行榜完整版，哈弗F7令长城笑开花</a></span><br><span>乐雨　阅读:1753次　2020_11_18</span></li>
<li><img src='../static/images/1-20111QGQ95R-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23274.html">2020年10月合资轿车销量排行榜完整版，别克威朗靠性价比破万</a></span><br><span>乐雨　阅读:1618次　2020_11_18</span></li>
<li><img src='../static/images/1-20111QG041326-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23273.html">2020年10月国产轿车销量排行榜完整版，帝豪险些被逸动踩在脚</a></span><br><span>乐雨　阅读:1348次　2020_11_18</span></li>
<li><img src='../static/images/1-201114091234205-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23265.html">2020年10月轿车销量排行榜完整版，大众对轩逸产生合围之势</a></span><br><span>乐雨　阅读:86529次　2020_11_14</span></li>
<li><img src='../static/images/1-201114091420543-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23264.html">2020年10月SUV销量排行榜完整版，大狗成为哈弗又一员猛将</a></span><br><span>乐雨　阅读:73403次　2020_11_14</span></li>
<li><img src='../static/images/1-201114091G59B-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23263.html">2020年10月MPV销量排行榜完整版，威然难以威胁到别克GL8</a></span><br><span>乐雨　阅读:17414次　2020_11_14</span></li>
<li><img src='../static/images/1-201114091Z25K-lp.jpg'>
<span><a target="_blank" href="http://www.515fa.com/che_23262.html">2020年10月汽车厂商销量排行榜完整版，日系车乏力质量神话破</a></span><br><span>乐雨　阅读:14494次　2020_11_14</span></li>

<div class="clear"></div>
</div>
<div class="wen3"><b>相关推荐</b><br />
<li><a href="http://www.515fa.com/che_23348.html" title="11月汽车销量排行榜1-15名出炉，一汽大众强">11月汽车销量排行榜1-15名出炉，一汽大众强</a></li>
<li><a href="http://www.515fa.com/che_23283.html" title="2020年10月中大型轿车销量排行榜，比亚迪汉">2020年10月中大型轿车销量排行榜，比亚迪汉</a></li>
<li><a href="http://www.515fa.com/che_23284.html" title="2020年10月中型轿车销量排行榜,奥迪A4L气死一">2020年10月中型轿车销量排行榜,奥迪A4L气死一</a></li>
<li><a href="http://www.515fa.com/che_23285.html" title="2020年10月紧凑型轿车销量排行榜，桑塔纳已">2020年10月紧凑型轿车销量排行榜，桑塔纳已</a></li>
<li><a href="http://www.515fa.com/che_23287.html" title="2020年10月微型轿车销量排行榜，欧拉黑猫为">2020年10月微型轿车销量排行榜，欧拉黑猫为</a></li>
<li><a href="http://www.515fa.com/che_23286.html" title="2020年10月小型轿车销量排行榜，名爵3前途未">2020年10月小型轿车销量排行榜，名爵3前途未</a></li>
<li><a href="http://www.515fa.com/che_23282.html" title="2020年10月中大型SUV销量排行榜完整版，探险">2020年10月中大型SUV销量排行榜完整版，探险</a></li>
<li><a href="http://www.515fa.com/che_23281.html" title="2020年10月小型SUV销量排行榜完整版，JEEP自由">2020年10月小型SUV销量排行榜完整版，JEEP自由</a></li>
<li><a href="http://www.515fa.com/che_23280.html" title="2020年10月中型SUV销量排行榜完整版，路虎发">2020年10月中型SUV销量排行榜完整版，路虎发</a></li>
<li><a href="http://www.515fa.com/che_23279.html" title="2020年10月紧凑型SUV销量排行榜完整版，哈弗">2020年10月紧凑型SUV销量排行榜完整版，哈弗</a></li>
<li><a href="http://www.515fa.com/che_23278.html" title="2020年10月豪华SUV销量排行榜完整版，二线阵">2020年10月豪华SUV销量排行榜完整版，二线阵</a></li>
<li><a href="http://www.515fa.com/che_23277.html" title="2020年10月豪华轿车销量排行榜完整版，宝马">2020年10月豪华轿车销量排行榜完整版，宝马</a></li>
<li><a href="http://www.515fa.com/che_23276.html" title="2020年10月合资SUV销量排行榜完整版，逍客热">2020年10月合资SUV销量排行榜完整版，逍客热</a></li>
<li><a href="http://www.515fa.com/che_23275.html" title="2020年10月国产SUV销量排行榜完整版，哈弗F">2020年10月国产SUV销量排行榜完整版，哈弗F</a></li>
<li><a href="http://www.515fa.com/che_23274.html" title="2020年10月合资轿车销量排行榜完整版，别克">2020年10月合资轿车销量排行榜完整版，别克</a></li>
<li><a href="http://www.515fa.com/che_23273.html" title="2020年10月国产轿车销量排行榜完整版，帝豪">2020年10月国产轿车销量排行榜完整版，帝豪</a></li>
<li><a href="http://www.515fa.com/che_23263.html" title="2020年10月MPV销量排行榜完整版，威然难以威">2020年10月MPV销量排行榜完整版，威然难以威</a></li>
<li><a href="http://www.515fa.com/che_23261.html" title="2020年10月汽车品牌销量排行榜完整版，技术">2020年10月汽车品牌销量排行榜完整版，技术</a></li>
<li><a href="http://www.515fa.com/che_23262.html" title="2020年10月汽车厂商销量排行榜完整版，日系">2020年10月汽车厂商销量排行榜完整版，日系</a></li>
<li><a href="http://www.515fa.com/che_23264.html" title="2020年10月SUV销量排行榜完整版，大狗成为哈">2020年10月SUV销量排行榜完整版，大狗成为哈</a></li>
</div>
<div class="wen4"><div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享到：</a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友">QQ好友</a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧">百度贴吧</a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网">豆瓣网</a><a href="#" class="bds_ty" data-cmd="ty" title="分享到天涯社区">天涯社区</a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{"bdSize":16}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</div>
<div class="wen6"><b>汽车销量排行榜大全</b><br />
<li><a href="http://www.515fa.com/gcsuv/" target="_blank">国产SUV销量排行榜</a></li>
<li><a href="http://www.515fa.com/hzsuv/" target="_blank">合资SUV销量排行榜</a></li>
<li><a href="http://www.515fa.com/hhsuv/" target="_blank">豪华SUV销量排行榜</a></li>
<li><a href="http://www.515fa.com/qzsuv/" target="_blank">七座SUV销量排行榜</a></li>
<li><a href="http://www.515fa.com/gcjc/" target="_blank">国产轿车销量排行榜</a></li>
<li><a href="http://www.515fa.com/hzjc/" target="_blank">合资轿车销量排行榜</a></li>
<li><a href="http://www.515fa.com/hhjc/" target="_blank">豪华轿车销量排行榜</a></li>
<li><a href="http://www.515fa.com/bjjc/" target="_blank">中型轿车销量排行榜</a></li>
<li><a href="http://www.515fa.com/ajjc/" target="_blank">紧凑型轿车销量排行榜</a></li>
<li><a href="http://www.515fa.com/a0jjc/" target="_blank">小型轿车销量排行榜</a></li>
<li><a href="http://www.515fa.com/a00jjc/" target="_blank">微型轿车销量排行榜</a></li>
<li><a href="http://www.515fa.com/cjjc/" target="_blank">中大型轿车销量排行榜</a></li>
<li><a href="http://www.515fa.com/suv/1-suv.html" target="_blank">SUV销量排行榜</a></li>
<li><a href="http://www.515fa.com/jiaoche/" target="_blank">轿车销量排行榜</a></li>
<li><a href="http://www.515fa.com/csxl/" target="_blank">汽车厂商销量排行榜</a></li>
<li><a href="http://www.515fa.com/mpv/" target="_blank">MPV销量排行榜</a></li>

</div>
<div class="wen7"><a href="http://www.515fa.com/csxlcx/"><b>汽车厂商销量查询</b></a><br />
<li><a href="http://www.515fa.com/yqdz/" target="_blank">一汽大众销量</a></li>
<li><a href="http://www.515fa.com/sqdz/" target="_blank">上汽大众销量</a></li>
<li><a href="http://www.515fa.com/sqty/" target="_blank">上汽通用销量</a></li>
<li><a href="http://www.515fa.com/caft/" target="_blank">长安福特销量</a></li>
<li><a href="http://www.515fa.com/gqbt/" target="_blank">广汽本田销量</a></li>
<li><a href="http://www.515fa.com/dfbt/" target="_blank">东风本田销量</a></li>
<li><a href="http://www.515fa.com/yqft/" target="_blank">一汽丰田销量</a></li>
<li><a href="http://www.515fa.com/gqft/" target="_blank">广汽丰田销量</a></li>
<li><a href="http://www.515fa.com/dfrc/" target="_blank">东风日产销量</a></li>
<li><a href="http://www.515fa.com/bjxd/" target="_blank">北京现代销量</a></li>
<li><a href="http://www.515fa.com/ccqc/" target="_blank">长城汽车销量</a></li>
<li><a href="http://www.515fa.com/jili/" target="_blank">吉利汽车销量</a></li>
<li><a href="http://www.515fa.com/caqc/" target="_blank">长安汽车销量</a></li>
<li><a href="http://www.515fa.com/qrqc/" target="_blank">奇瑞汽车销量</a></li>
<li><a href="http://www.515fa.com/bjbc/" target="_blank">北京奔驰销量</a></li>
<li><a href="http://www.515fa.com/hcbm/" target="_blank">华晨宝马销量</a></li>
<li><a href="http://www.515fa.com/dfydqy/" target="_blank">起亚汽车销量</a></li>
<li><a href="http://www.515fa.com/yqjc/" target="_blank">一汽轿车销量</a></li>
<li><a href="http://www.515fa.com/ztqc/" target="_blank">众泰汽车销量</a></li>
<li><a href="http://www.515fa.com/jhqc/" target="_blank">江淮汽车销量</a></li>
</div>
<div class="wen4">上一篇：<a href='/che_21259.html'>2019年6月紧凑型SUV销量排行榜完整版，大众途观成功苏醒</a>     下一篇：<a href='/che_21261.html'>2019年6月中大型SUV销量排行榜，CS95和RX8成难兄难弟</a> </div>
</div>
<div class="zhuti02">
<div class="youk_gg1">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 515网内页右侧摩天广告01 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-6891601752024227"
     data-ad-slot="9954562676"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
  <div class="youk_h2"><a href="http://www.515fa.com/qcxl/" target="_blank"><b>最新销量</b></a></div>
  <div class="youk02">
<li><a href="http://www.515fa.com/che_23341.html" target="_blank">广汽丰田11月销量7.74万辆，凯美瑞破2万，威兰达表现不俗</a></li>
<li><a href="http://www.515fa.com/che_23340.html" target="_blank">广汽本田11月销量公布啦，皓影破万，雅阁冠绝三军</a></li>
<li><a href="http://www.515fa.com/che_23339.html" target="_blank">长城汽车11月销量发布啦，H6再创神迹，大狗一战成名</a></li>
<li><a href="http://www.515fa.com/che_23338.html" target="_blank">吉利汽车11月销量发布啦，轿车SUV均衡，星瑞首战告捷</a></li>
<li><a href="http://www.515fa.com/che_23337.html" target="_blank">长安汽车11月销量公布啦，CS75太逆天，UNI-T发力</a></li>
<li><a href="http://www.515fa.com/che_23336.html" target="_blank">凯迪拉克11月中国销量24,307辆，3+3矩阵已见成效</a></li>
<li><a href="http://www.515fa.com/che_23335.html" target="_blank">上汽名爵11月全球销量4.6万辆，MG5上市即热销</a></li>
<li><a href="http://www.515fa.com/che_23332.html" target="_blank">东风日产11月销量126609辆，轩逸销量再创新奇迹</a></li>
<li><a href="http://www.515fa.com/che_23331.html" target="_blank">上汽乘用车11月销量超8万辆，新能源车全线大涨</a></li>

</div>
<div class="youk_h2"><b>汽车排行榜</b></div>
<div class="youk02">
<li><a href="http://www.515fa.com/5wan/" target="_blank">5万左右的车排行榜 5万左右的汽车销量排名</a></li>
<li><a href="http://www.515fa.com/10wan/" target="_blank">10万左右的车排行榜 10万左右的轿车SUV排行</a></li>
<li><a href="http://www.515fa.com/15wan/" target="_blank">15万左右的车排行榜 15万左右的轿车SUV排名</a></li>
<li><a href="http://www.515fa.com/20wan/" target="_blank">20万左右的车排行榜 20万左右买什么车好</a></li>
<li><a href="http://www.515fa.com/30wan/" target="_blank">30万左右的车排行榜 30万左右的车型推荐</a></li>
<li><a href="http://www.515fa.com/25wan/" target="_blank">25万左右的车排行榜 25万左右买什么车好</a></li>
<li><a href="http://www.515fa.com/40wan/" target="_blank">40万左右的车排行榜 40万左右的豪车推荐</a></li>
</div>
<div class="youk_h1"><a href="http://www.515fa.com/xldp/" target="_blank"><b>销量点评</b></a></div>
<div class="youk02">
<li><a href="http://www.515fa.com/xldp/dp_23353.html" target="_blank">11月份SUV销量榜1-15名，CS75荣获千年老二的美称</a></li>
<li><a href="http://www.515fa.com/xldp/dp_23352.html" target="_blank">11月轿车销量1-15名，逸动持续增长，小天籁再夺冠</a></li>
<li><a href="http://www.515fa.com/xldp/dp_23351.html" target="_blank">11月SUV销量出炉：比亚迪宋蹿升，哈弗M6表现亮眼</a></li>
<li><a href="http://www.515fa.com/xldp/dp_23350.html" target="_blank">11月豪华车销量榜盘点，奥迪强势，宝马X3下滑</a></li>
<li><a href="http://www.515fa.com/xldp/dp_23349.html" target="_blank">11月高端轿车销量榜，奥迪Q5L夺冠大空间成主流</a></li>
<li><a href="http://www.515fa.com/xiaowu/xw_23304.html" target="_blank">配置低到令人发指的本田飞度，为何销量却能轻松破万？</a></li>
<li><a href="http://www.515fa.com/xiaowu/xw_23303.html" target="_blank">销量差距越来越大，上汽大众为何惨败给兄弟一汽大众？</a></li>
<li><a href="http://www.515fa.com/xiaowu/xw_23302.html" target="_blank">长安汽车销量屡创新高后推出百万款，迈向更高的巅峰</a></li>
<li><a href="http://www.515fa.com/xldp/dp_23266.html" target="_blank">10月份MPV销量排名，艾力绅值得表扬GL8霸气依旧</a></li>

</div>
<div class="youk_h2"><a href="http://www.515fa.com/qcxlphb/" target="_blank"><b>汽车销量排行榜</b></a></div>
<div class="youk02">
<li><a href="http://www.515fa.com/che_6699.html">2017年7月轿车销量排行榜1-120名完整版出炉</a></li>
<li><a href="http://www.515fa.com/che_5649.html">2017年4月轿车销量排行榜1-120名 英朗夺冠神车仅第三名</a></li>
<li><a href="http://www.515fa.com/che_5928.html">2017年6月轿车销量排行榜1-120名完整版</a></li>
<li><a href="http://www.515fa.com/che_5651.html">2017年4月SUV销量排行榜1-164名 哈弗H6卫冕宝骏510飙升</a></li>
<li><a href="http://www.515fa.com/che_5766.html">2017年5月轿车销量排行榜1-120名重磅出炉</a></li>
<li><a href="http://www.515fa.com/che_6698.html">2017年7月SUV销量排行榜1-172名完整版出炉</a></li>
<li><a href="http://www.515fa.com/che_5560.html">2017年3月轿车销量排行榜1-120名完整版</a></li>
<li><a href="http://www.515fa.com/che_5926.html">2017年6月SUV销量排行榜1-172名完整版</a></li>


</div>
<div class="youk_ad"><img src="../images/gg1.jpg" width="294" border="0" /></div>
<div class="youk_h2"><a href="http://www.515fa.com/qczx/" target="_blank"><b>最新车闻</b></a></div>
<div class="youk02">
<li><a href="http://www.515fa.com/che_23348.html" target="_blank">11月汽车销量排行榜1-15名出炉，一汽大众强悍，轩逸再霸榜</a></li>
<li><a href="http://www.515fa.com/che_23283.html" target="_blank">2020年10月中大型轿车销量排行榜，比亚迪汉已杀入前三名</a></li>
<li><a href="http://www.515fa.com/che_23284.html" target="_blank">2020年10月中型轿车销量排行榜,奥迪A4L气死一帮强将</a></li>
<li><a href="http://www.515fa.com/che_23285.html" target="_blank">2020年10月紧凑型轿车销量排行榜，桑塔纳已彻底沦落</a></li>
<li><a href="http://www.515fa.com/che_23287.html" target="_blank">2020年10月微型轿车销量排行榜，欧拉黑猫为市场带来曙光</a></li>
<li><a href="http://www.515fa.com/che_23286.html" target="_blank">2020年10月小型轿车销量排行榜，名爵3前途未卜</a></li>
<li><a href="http://www.515fa.com/che_23282.html" target="_blank">2020年10月中大型SUV销量排行榜完整版，探险者为福特雪中送炭</a></li>
<li><a href="http://www.515fa.com/che_23281.html" target="_blank">2020年10月小型SUV销量排行榜完整版，JEEP自由侠被市场忽略</a></li>



</div>

</div>
</div>
</div>

<div class="dibu">
<div class="dibu03"><a href="http://www.515fa.com">汽车销量排行榜</a> | <a href="http://www.515fa.com/qcxl/">汽车销量快讯</a> | <a href="http://www.515fa.com/qcxlphb/">销量排行榜</a> | <a href="http://www.515fa.com/dzh/">大杂烩</a> | <a href="http://www.515fa.com/xcjs/">新车介绍</a> | <a href="http://www.515fa.com/zimeiti/">自媒体</a> | <a href="http://www.515fa.com/qchq/">汽车行情</a> | <a href="http://www.515fa.com/qcpl/">汽车评论</a> | <a href="http://www.515fa.com/jiaoche/">轿车销量排行榜</a> | <a href="http://www.515fa.com/suv/1-suv.html">SUV销量排行榜</a> | <a href="http://www.515fa.com/mpv/">MPV销量排行榜</a> | <a href="http://www.515fa.com/xiaowu/">小五说车</a> | <a href="http://www.515fa.com/gghz.html">广告合作</a> | <a href="http://www.515fa.com/contect.html">联系我们</a></div>
<div class="dibu03">Copyright©2009-2017 www.515fa.com All Rights Reserved. | 豫ICP备16003536号-1 | 版权所有 侵权必究 <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_2709329'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s6.cnzz.com/stat.php%3Fid%3D2709329%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></div>
</div>
</body>
</html>
