
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>世界人口排名 2021世界人口总数 全球各国人口排名2021-排行榜123网</title>
<meta name="keywords" content="世界人口排名2021,全球各国人口排名2021,世界人口总数2021,世界上人口最多的国家" />
<meta name="description" content="排行榜123网人口频道为您提供最新世界人口排名2021，告诉您2021年世界人口总数有多少，以及全世界各国人口数量排名。" />
<link href="https://www.phb123.com/css/common.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="https://www.phb123.com/style/special.css">
<!--<script type="text/javascript" src="https://www.phb123.com/js/jquery.js"></script>-->
<!--<script type="text/javascript" src="/js/phbgg2.js"></script>-->
</head>
<body>
<script type="text/javascript">
//判断是否是手机版访问,跳转到手机版
var isiPad = navigator.userAgent.match(/iPad|iPhone|Android|Linux|iPod/i) != null;
if(isiPad){	
	if(window.location.href.indexOf("sports.phb123.com") > 0 ){
		var wapurl = window.location.href.replace(/sports\.phb123\.com/ig,"web.phb123.com/ty");
	}else{
		var wapurl = window.location.href.replace(/www\.phb123\.com/ig,"web.phb123.com");
	}
	window.location.href = wapurl;
}
</script>
<div class="top">
    <div class="wrap clearfix">
        <div class="fl welcome">排行榜123网，关注行业排行榜，关注中国行业十大品牌排行！</div>
        <div class="top-meau fr">
            <ul>
                <li><a href="https://www.phb123.com/tag/" target="_blank">TAG标签</a></li>
                <li><a href="https://www.phb123.com/sitemap.html" target="_blank">网站导航</a></li>
                <li>手机访问：<a href="https://web.phb123.com/" target="_blank">web.phb123.com</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="wrap header">
    <a class="logo" href="https://www.phb123.com/" ><img src="https://www.phb123.com/images/logo.gif" width="210" height="74"/></a>
    <div class="search">
       <form id="form1" name="form1" method="post" action="http://so.phb123.com/cse/">
       <input type="text" name="p" id="bdcsMain" class="search-area" value="请输入关键词" onfocus="javascript:this.value=''" autocomplete="off">
       <input class="search-btn" type="submit" value="">
       </form>
    </div>
</div>
<div class="nav mar1">
    <div class="wrap">
       <ul>
          <li><a href="https://www.phb123.com/" class="on">首页</a></li>
	      <li><a href="https://www.phb123.com/shenghuo/" target="_blank">生活</a></li> 
	      <li><a href="https://www.phb123.com/yule/" target="_blank">娱乐</a></li>
	      <li><a href="https://www.phb123.com/lvyou/" target="_blank">旅游</a></li>
	      <li><a href="https://www.phb123.com/city/" target="_blank">城市</a></li>
	      <li><a href="https://www.phb123.com/jiaoyu/" target="_blank">教育</a></li>
	      <li><a href="https://www.phb123.com/keji/" target="_blank">科技</a></li>
	      <li><a href="https://www.phb123.com/hangye/" target="_blank">行业</a></li>
	      <li><a href="https://www.phb123.com/xinwen/" target="_blank">新闻</a></li>
	      <li><a href="https://www.phb123.com/junshi/" target="_blank">军事</a></li>
	      <li><a href="https://www.phb123.com/renwu/" target="_blank">人物</a></li> 
	      <li><a href="https://sports.phb123.com/" target="_blank">体育</a></li> 
	      <li><a href="https://www.phb123.com/youxi/" target="_blank">游戏</a></li> 
	      <li><a href="https://www.phb123.com/shijiezhizui/" target="_blank">世界之最</a></li>
       </ul>
    </div>
</div>
<!--common header end-->

<div class="wrap bread"><a href="https://www.phb123.com/">首页</a> &gt; 世界人口排名2018</div>
<div class="wrap mar1 clearfix">
 
  <div class="sp-l">
  
      <div class="lead">
           <h1>世界人口排名2021</h1>
           <p>截止2021年05月05日，全球 230 个国家人口总数为7,585,204,179人，其中中国以 1,400,050,000 人位居第一，成为世界上人口最多的国家，印度以 1,354,051,854 人位居地球第二，第三至第十名分别是：美国、印度尼西亚、巴西、巴基斯坦、尼日利亚、孟加拉国、俄罗斯、等等
</p>

           <div class="lead-time">更新时间：2021年05月05日</div>
          <div id="baiduShare" class="bdsharebuttonbox">
             <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
             <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
             <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
         </div>
      </div> 
           <script type="text/javascript">neirong_ad07();</script>
      <div class="mar1">
            <div class="t-bar clearfix">
               <h2 class="bt">世界人口排名</h2>
            </div>
            <table class="rank-table" width="100%">
                <tbody>
                    <tr>
                        <th width="12%">世界排名</th>
                        <th width="30%">国家</th>
                        <th width="20%">人口数量</th>
                        <th width="12%">增长率</th>
                        <th width="26%">人口密度（公里²）</th>
                    </tr>
                    <tr>
                        <td class="xh">1</td>
                        <td>
                           <a href="/city/renkou/country_1.html" title="中国" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/guoqi/CN.jpg" alt="中国" width="70" height="42"></span>
                               <p>中国</p>
                           </a>
                        </td>
                        <td>1,400,050,000</td>
                        <td>0.39%</td>
                        <td>144.30</td>
                    </tr><tr>
                        <td class="xh">2</td>
                        <td>
                           <a href="/city/renkou/country_2.html" title="印度" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/guoqi/IN.jpg" alt="印度" width="70" height="42"></span>
                               <p>印度</p>
                           </a>
                        </td>
                        <td>1,354,051,854</td>
                        <td>1.11%</td>
                        <td>411.87</td>
                    </tr><tr>
                        <td class="xh">3</td>
                        <td>
                           <a href="/city/renkou/country_3.html" title="美国" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/guoqi/US.jpg" alt="美国" width="70" height="42"></span>
                               <p>美国</p>
                           </a>
                        </td>
                        <td>326,766,748</td>
                        <td>0.71%</td>
                        <td>34.86</td>
                    </tr><tr>
                        <td class="xh">4</td>
                        <td>
                           <a href="/city/renkou/country_4.html" title="印度尼西亚" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/guoqi/ID.jpg" alt="印度尼西亚" width="70" height="42"></span>
                               <p>印度尼西亚</p>
                           </a>
                        </td>
                        <td>266,794,980</td>
                        <td>1.06%</td>
                        <td>140.08</td>
                    </tr><tr>
                        <td class="xh">5</td>
                        <td>
                           <a href="/city/renkou/country_5.html" title="巴西" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/guoqi/BR.jpg" alt="巴西" width="70" height="42"></span>
                               <p>巴西</p>
                           </a>
                        </td>
                        <td>210,867,954</td>
                        <td>0.75%</td>
                        <td>24.76</td>
                    </tr><tr>
                        <td class="xh">6</td>
                        <td>
                           <a href="/city/renkou/country_6.html" title="巴基斯坦" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/defaultpic.gif" alt="巴基斯坦" width="70" height="42"></span>
                               <p>巴基斯坦</p>
                           </a>
                        </td>
                        <td>200,813,818</td>
                        <td>1.93%</td>
                        <td>227.70</td>
                    </tr><tr>
                        <td class="xh">7</td>
                        <td>
                           <a href="/city/renkou/country_7.html" title="尼日利亚" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/guoqi/NG.jpg" alt="尼日利亚" width="70" height="42"></span>
                               <p>尼日利亚</p>
                           </a>
                        </td>
                        <td>195,875,237</td>
                        <td>2.61%</td>
                        <td>212.04</td>
                    </tr><tr>
                        <td class="xh">8</td>
                        <td>
                           <a href="/city/renkou/country_8.html" title="孟加拉国" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/defaultpic.gif" alt="孟加拉国" width="70" height="42"></span>
                               <p>孟加拉国</p>
                           </a>
                        </td>
                        <td>166,368,149</td>
                        <td>1.03%</td>
                        <td>1127.38</td>
                    </tr><tr>
                        <td class="xh">9</td>
                        <td>
                           <a href="/city/renkou/country_9.html" title="俄罗斯" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/guoqi/RU.jpg" alt="俄罗斯" width="70" height="42"></span>
                               <p>俄罗斯</p>
                           </a>
                        </td>
                        <td>143,964,709</td>
                        <td>0.00%</td>
                        <td>8.42</td>
                    </tr><tr>
                        <td class="xh">10</td>
                        <td>
                           <a href="/city/renkou/country_10.html" title="墨西哥" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/guoqi/MX.jpg" alt="墨西哥" width="70" height="42"></span>
                               <p>墨西哥</p>
                           </a>
                        </td>
                        <td>130,759,074</td>
                        <td>1.24%</td>
                        <td>66.57</td>
                    </tr><tr>
                        <td class="xh">11</td>
                        <td>
                           <a href="/city/renkou/country_11.html" title="日本" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/guoqi/JP.jpg" alt="日本" width="70" height="42"></span>
                               <p>日本</p>
                           </a>
                        </td>
                        <td>127,185,332</td>
                        <td>0.00%</td>
                        <td>336.53</td>
                    </tr><tr>
                        <td class="xh">12</td>
                        <td>
                           <a href="/city/renkou/country_12.html" title="埃塞俄比亚" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/defaultpic.gif" alt="埃塞俄比亚" width="70" height="42"></span>
                               <p>埃塞俄比亚</p>
                           </a>
                        </td>
                        <td>106,672,306</td>
                        <td>2.46%</td>
                        <td>97.38</td>
                    </tr><tr>
                        <td class="xh">13</td>
                        <td>
                           <a href="/city/renkou/country_13.html" title="菲律宾" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/guoqi/PH.jpg" alt="菲律宾" width="70" height="42"></span>
                               <p>菲律宾</p>
                           </a>
                        </td>
                        <td>106,512,074</td>
                        <td>1.52%</td>
                        <td>311.12</td>
                    </tr><tr>
                        <td class="xh">14</td>
                        <td>
                           <a href="/city/renkou/country_14.html" title="埃及" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/guoqi/EG.jpg" alt="埃及" width="70" height="42"></span>
                               <p>埃及</p>
                           </a>
                        </td>
                        <td>99,375,741</td>
                        <td>1.87%</td>
                        <td>99.13</td>
                    </tr><tr>
                        <td class="xh">15</td>
                        <td>
                           <a href="/city/renkou/country_15.html" title="越南" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/guoqi/VN.jpg" alt="越南" width="70" height="42"></span>
                               <p>越南</p>
                           </a>
                        </td>
                        <td>96,491,146</td>
                        <td>0.99%</td>
                        <td>291.33</td>
                    </tr><tr>
                        <td class="xh">16</td>
                        <td>
                           <a href="/city/renkou/country_16.html" title="刚果民主共和国" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/defaultpic.gif" alt="刚果民主共和国" width="70" height="42"></span>
                               <p>刚果民主共和国</p>
                           </a>
                        </td>
                        <td>82,643,624</td>
                        <td>3.09%</td>
                        <td>34.70</td>
                    </tr><tr>
                        <td class="xh">17</td>
                        <td>
                           <a href="/city/renkou/country_17.html" title="德国" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/guoqi/DE.jpg" alt="德国" width="70" height="42"></span>
                               <p>德国</p>
                           </a>
                        </td>
                        <td>82,293,457</td>
                        <td>0.22%</td>
                        <td>230.44</td>
                    </tr><tr>
                        <td class="xh">18</td>
                        <td>
                           <a href="/city/renkou/country_18.html" title="伊朗" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/defaultpic.gif" alt="伊朗" width="70" height="42"></span>
                               <p>伊朗</p>
                           </a>
                        </td>
                        <td>82,011,735</td>
                        <td>1.05%</td>
                        <td>49.76</td>
                    </tr><tr>
                        <td class="xh">19</td>
                        <td>
                           <a href="/city/renkou/country_19.html" title="土耳其" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/guoqi/TR.jpg" alt="土耳其" width="70" height="42"></span>
                               <p>土耳其</p>
                           </a>
                        </td>
                        <td>81,916,871</td>
                        <td>1.45%</td>
                        <td>104.54</td>
                    </tr><tr>
                        <td class="xh">20</td>
                        <td>
                           <a href="/city/renkou/country_20.html" title="泰国" target="_blank" class="cty">
                               <span class="fl"><img src="https://img.phb123.com/uploads/guoqi/TH.jpg" alt="泰国" width="70" height="42"></span>
                               <p>泰国</p>
                           </a>
                        </td>
                        <td>69,183,173</td>
                        <td>0.21%</td>
                        <td>134.83</td>
                    </tr>
                </tbody>
            </table>
            <p class="tb-ms"></p>
            <div class="page mt10">
                 <a>首页</a>
<a class="on">1</a><a href='/city/renkou/rk_2.html'>2</a>
<a href='/city/renkou/rk_3.html'>3</a>
<a href='/city/renkou/rk_4.html'>4</a>
<a href='/city/renkou/rk_5.html'>5</a>
<a href='/city/renkou/rk_6.html'>6</a>
<a href='/city/renkou/rk_7.html'>7</a>
<a href='/city/renkou/rk_8.html'>8</a>
<a href='/city/renkou/rk_9.html'>9</a>
<a href='/city/renkou/rk_2.html'>下一页</a>
<a href='/city/renkou/rk_12.html'>末页</a>

            </div>
            <script type="text/javascript">neirong_ad07();</script>
      </div>
      
  </div>
  
  <div class="sp-r">
     <div class="sp-rb">
         <h3>相关查询</h3>
         <ul class="clearfix">
             <li><a href="/city/renkou/zhou_AS.html" target="_blank">亚洲人口</a></li>
             <li><a href="/city/renkou/zhou_EU.html" target="_blank">欧洲人口</a></li>
             <li><a href="/city/renkou/zhou_AF.html" target="_blank">非洲人口</a></li>
             <li><a href="/city/renkou/zhou_SA.html" target="_blank">南美洲人口</a></li>
             <li><a href="/city/renkou/zhou_OA.html" target="_blank">大洋洲人口</a></li>
             <li><a href="/city/renkou/zhou_NA.html" target="_blank">北美洲人口</a></li>
         </ul>
      </div>
      <script type="text/javascript">neirong_ad09();</script>
      <div class="sp-rb mar1">
         <h3>热门国家</h3>
         <ul class="clearfix">
             <li><a href="/city/renkou/country_1.html" target="_blank">中国人口</a></li>
             <li><a href="/city/renkou/country_2.html" target="_blank">印度人口</a></li>
             <li><a href="/city/renkou/country_3.html" target="_blank">美国人口</a></li>
             <li><a href="/city/renkou/country_52.html" target="_blank">朝鲜人口</a></li>
             <li><a href="/city/renkou/country_21.html" target="_blank">英国人口</a></li>
             <li><a href="/city/renkou/country_22.html" target="_blank">法国人口</a></li>
             <li><a href="/city/renkou/country_38.html" target="_blank">加拿大人口</a></li>
             <li><a href="/city/renkou/country_11.html" target="_blank">日本人口</a></li>
         </ul>
      </div>
      <script type="text/javascript">neirong_ad12();</script>
      <div class="sp-rn mar1">
		<h3>相关文章</h3> 
		<ul class="sp-rn-rank">
			<li><i class="tips">1.</i>
                          <a href="https://www.phb123.com/city/renkou/19780.html" title="未来房价暴涨的8个城市,任志强最新房价预测" target="_blank">未来房价暴涨的8个城市,任志强最新房价预测</a></li>
<li><i class="tips">2.</i>
                          <a href="https://www.phb123.com/city/renkou/36792.html" title="全国十大县城人口排名 第一人口超两百万，安徽省多县上榜" target="_blank">全国十大县城人口排名 第一人口超两百万，安徽</a></li>
<li><i class="tips">3.</i>
                          <a href="https://www.phb123.com/city/renkou/16501.html" title="2017潜江各区人口数量排行榜,历年潜江人口数量排行榜" target="_blank">2017潜江各区人口数量排行榜,历年潜江人口数量排</a></li>
<li><i>4.</i>
                          <a href="https://www.phb123.com/city/renkou/43214.html" title="中国十大养老机构排名：静安健康上榜，第四拥有椿萱茂" target="_blank">中国十大养老机构排名：静安健康上榜，第四拥</a></li>
<li><i>5.</i>
                          <a href="https://www.phb123.com/city/renkou/39207.html" title="2020全国主要城市人口排名 重庆人口最多" target="_blank">2020全国主要城市人口排名 重庆人口最多</a></li>
<li><i>6.</i>
                          <a href="https://www.phb123.com/city/renkou/38802.html" title="芬兰十大城市排名：奥卢上榜，第一名人口55万" target="_blank">芬兰十大城市排名：奥卢上榜，第一名人口55万</a></li>
<li><i>7.</i>
                          <a href="https://www.phb123.com/city/renkou/22253.html" title="中国人口密度省份排名，全国各省市人口密度排行榜2018" target="_blank">中国人口密度省份排名，全国各省市人口密度排</a></li>
<li><i>8.</i>
                          <a href="https://www.phb123.com/city/renkou/38380.html" title="2019年600万资产家庭分布城市 全国494万户，北京占据70万户" target="_blank">2019年600万资产家庭分布城市 全国494万户，北京占</a></li>
<li><i>9.</i>
                          <a href="https://www.phb123.com/city/renkou/38355.html" title="2019城市人口吸引力排行 深圳居首，东莞和佛山进前十" target="_blank">2019城市人口吸引力排行 深圳居首，东莞和佛山进</a></li>
<li><i>10.</i>
                          <a href="https://www.phb123.com/city/renkou/38166.html" title="中国肥胖率最高的省份排行 全国胖子最多的居然是这个省份" target="_blank">中国肥胖率最高的省份排行 全国胖子最多的居然</a></li>

		</ul>
    </div>      
	<script type="text/javascript">neirong_ad03();</script>
      
 
  </div> 
  
</div>

<div class="wrap mar2">
    <h3 class="friends-tit">友情链接</h3>
    <ul class="friends clearfix curent">
		
		<li><a href='https://www.phb123.com' target='_blank'>排行榜</a> </li>
       
    </ul>
</div>



<!--common footer begin-->
<!--links end--> 
 <div class="footer mar2">
	  <div class="wrap clearfix">
		  <div class="foot-logo"><img src="https://www.phb123.com/images/b_logo.png" width="112" height="39"/></div>
		  <div class="foot-chara">排行榜123网（www.phb123.com）努力为您呈现丰富的十大排行榜，最新的行业排行榜、人气排行榜、品牌排行榜. Copyright © 2014-2015 All Rights Reserved.<br><a href="//beian.miit.gov.cn/" target="_blank">鄂ICP备18017610号-6</a> | <a href="https://www.phb123.com/about/suggest.html" target="_blank">反馈留言</a> | <a href="https://www.12377.cn/" target="_blank">举报入口</a> | 举报邮箱:63224@qq.com | 举报电话：13907535906</div>
	  </div>
 </div>
<div style="display:none"><script language="javascript" src="https://www.phb123.com/js/tongji.js"></script></div>
<script>
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
</body>
</html>