<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <style type="text/css">
        td{
            width: 400px;
        }
    </style>
</head>
<body>
    <h1>爬虫数据源</h1>
    <table>
        <tr>
            <td>
<!--                <a href="http://127.0.0.1:5000/suv">第1题：suv销量爬虫</a>-->
                <a href="http://127.0.0.1:5000/suv">第1题：suv销量爬虫</a>
            </td>
            <td>
                <a href="http://127.0.0.1:5000/weather">第2题：天气爬虫</a>
            </td>
            <td>
                <a href="http://127.0.0.1:5000/movie">第3题：电影爬虫</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="http://127.0.0.1:5000/book">第4题：书籍爬虫</a>
            </td>
            <td>
                <a href="http://127.0.0.1:5000/phone">第5题：手机爬虫</a>
            </td>
            <td>
                <a href="http://127.0.0.1:5000/computer">第6题：笔记本爬虫</a>
            </td>

        </tr>
        <tr>
            <td>
                <a href="http://127.0.0.1:5000/air">第7题：天气爬虫</a>
            </td>
            <td>
                <a href="http://127.0.0.1:5000/fridge">第8题：空调爬虫</a>
            </td>
            <td>
                <a href="http://127.0.0.1:5000/desktop">第9题：台式电脑爬虫</a>
            </td>

        </tr>
        <tr>
            <td>
                <a href="http://127.0.0.1:5000/huawei">第10题：华为手机爬虫</a>
            </td>
            <td>
                <a href="http://127.0.0.1:5000/camera">第11题：相机爬虫</a>
            </td>
            <td>
                <a href="http://127.0.0.1:5000/television">第12题：电视爬虫</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="http://127.0.0.1:5000/people">第13题：世界人口爬虫</a>
            </td>
            <td>
                <a href="http://127.0.0.1:5000/mp3">第14题：mp3爬虫</a>
            </td>
            <td>
                <a href="http://127.0.0.1:5000/headset">第15题：耳机爬虫</a>
            </td>
        </tr>
    </table>

    <h1>可视化结果</h1>
    <table>
        <tr>
            <td>
                <a href="../echarts_show/bar_suv.html">第1题：suv销量爬虫</a>
            </td>
            <td>
                <a href="../echarts_show/line_weather.html">第2题：天气爬虫</a>
            </td>
            <td>
                <a href="../echarts_show/line_move.html">第3题：电影爬虫</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="../echarts_show/pie_book.html">第4题：书籍爬虫</a>
            </td>
            <td>
                <a href="../echarts_show/bar_phone.html">第5题：手机爬虫</a>
            </td>
            <td>
                <a href="../echarts_show/pie_computer.html">第6题：笔记本爬虫</a>
            </td>

        </tr>
        <tr>
            <td>
                <a href="../echarts_show/line_weather.html">第7题：天气爬虫</a>
            </td>
            <td>
                <a href="../echarts_show/bar_air.html">第8题：空调爬虫</a>
            </td>
            <td>
                <a href="../echarts_show/pie_desktop.html">第9题：台式电脑爬虫</a>
            </td>

        </tr>
        <tr>
            <td>
                <a href="../echarts_show/bar_phone.html">第10题：华为手机爬虫</a>
            </td>
            <td>
                <a href="../echarts_show/bar_camera.html">第11题：相机爬虫</a>
            </td>
            <td>
                <a href="../echarts_show/pie_television.html">第12题：电视爬虫</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="../echarts_show/bar_peolple.html">第13题：世界人口爬虫</a>
            </td>
            <td>
                <a href="../echarts_show/pie_mp3.html">第14题：mp3爬虫</a>
            </td>
            <td>
                <a href="../echarts_show/pie_headset.html">第15题：耳机爬虫</a>
            </td>
        </tr>
    </table>

</body>
</html>